.App {
  text-align: center;
}

.nav-button-holder {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.jank {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-holder {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-position: fixed;
  background-attachment: fixed;
}

.main-holder:after {
  content: "";
  background-image: url("./images/519d3801defcfbc9041e618ab8531153.jpg");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-position: fixed;
  position: absolute;
  z-index: -1;
}

.nav-button {
  color: white;
  background: none;
  border: none;
}

.component-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.page-title {
  color: white;
  font-size: 85px;
}

.component-holder > div {
  padding-top: 25px;
  width: 50%;
}

p {
  color: white;
}

.form-label {
  color: white;
}

.dropdown-toggle {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0;
}

.calendar-holder {
  height: 700px;
  width: 800px;
}

.book-main-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card-holder {
  display: flex;
  width: 90%;
  flex-flow: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 15px;
}

.card-text {
  color: black;
}

.card-span {
  font-weight: bold;
}

.card-title {
  font-size: 25px;
  font-weight: bolder;
}
