.App {
  text-align: center;
}

body {
  background-image: url("./images/519d3801defcfbc9041e618ab8531153.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.titles-holder {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
}

.titles-holder > h1{
  justify-self: center;
  align-self: center;
}

.titles-holder > h2{
  justify-self: center;
  align-self: center;
}

.login-button-container{
  justify-self: flex-end;
  align-self: flex-end;
}


.jank {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-button {
  color: white;
  background: none;
  border: none;
}

.component-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.page-title {
  color: white;
  font-size: 85px;
}

.component-holder > div {
  padding-top: 25px;
}

p {
  color: white;
}

.form-label {
  color: white;
}

.dropdown-toggle {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0;
}

.calendar-holder {
  height: 700px;
  width: 800px;
}

.book-main-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card-holder {
  display: flex;
  width: 90%;
  flex-flow: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 15px;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: black;
}

.card-span {
  font-weight: bold;
}

.home-holder {
  display: flex;
  width: 90%;
  justify-items: space-around;
  justify-content: space-around;
}

.card-title {
  font-size: 25px;
  font-weight: bolder;
}

.twitter-holder {
  display: flex;
  flex-direction: column;
}

.artical-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
.admin-only {
  color: red;
}


.article-image {
  width:200px;
  height: 200px;
}