* {
  font-family: 'Roboto Slab', serif;
}

.App {
  text-align: center;
}

/* PARRALAX SHIZZZZZZZZZZZZZZZZZZ */

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.temp{
  width: 100%;
  height: 92vh;
}

.tracey-logo{
  position: absolute;
  z-index: 8;
  width: 100%;
  left: 33%;
  top: 32%;
  
}

.sky-broken {
  position: absolute;
width: 100%;
top: -16%;
}

.right-tree {
  position: absolute;
  right: 0;
  z-index: 4;
  top: -10%;
}

.left-tree {
  position: absolute;
  left: 0;
  z-index: 4;
  top: -10%;
}

.lake {
  position: absolute;
  left: 30%;
  top: 76%;
}

.mountains {
  position: absolute;
  top: 68%;
  left: 15%;
  z-index: 1;
}

.tree-parts {
  position: absolute;
  left: 29%;
  top: 70%;
  z-index: 2;
}

.far-trees {
  position: absolute;
  left: 30%;
  top: 70%;
  z-index: 2;
}

.close-trees {
  position: absolute;
  left: 23%;
  top: 71%;
  z-index: 2;
}

.more-mountain-parts {
  position: absolute;
  top: 69%;
  left: 10%;
  z-index: 1;
}

.lake {
  position: absolute;
  left: 35%;
  z-index: 2;
}

.rock {
  position: absolute;
  top: 77%;
  left: 50%;
  z-index: 3;
}

.sun {
  position: absolute;
  top: 65%;
  left: 48%;
  z-index: 0;
}

.nav-button-holder {
  display: flex;
  background-color: #372d3b;
  z-index: 55;
  height: 65px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.text-center{
  width: 50%;
}

.home-content{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 2;
}

.real-article-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 90%
}

.articles-title {
  padding-bottom: 55px;
  padding-top: 55px;
}

.book-home-holder {
  display: flex;
  position: relative;
  z-index:10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c4415D;
  padding-bottom: 155px;
}

.articles-holder {
  display: flex;
  position: relative;
  background-color: #372d3b;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}

.inner-article-preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.article-preview {
display: flex;
justify-content: center;
align-items: center;
}


/* PARRALAX SHIZZZZZZZZZZZZZZZZZZ */


.titles-holder {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
}

.titles-holder > h1 {
  justify-self: center;
  align-self: center;
}

.titles-holder > h2 {
  justify-self: center;
  align-self: center;
}

.login-button-container {
  justify-self: flex-end;
  align-self: flex-end;
  padding-bottom: 10px;
}


.nav-button {
  color: #ffffde;
  background: none;
  border: none;
}

.about-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #372d3b;
}

.component-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #372d3b;
  height: 100vh;
}

.page-title {
  color: #ffffde;
  font-size: 85px;
}

.component-holder > div {
  padding-top: 25px;
}

.login-holder{
  padding-top: 150px;
}

p {
  color: #ffffde;
}

.form-label {
  color: white;
}

.dropdown-toggle {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-primary{
  color: #ffffde;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0;
}

.calendar-holder {
  height: 700px;
  width: 800px;
}

.book-main-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #372d3b;
}

.book-card{
  padding: 15px;
}

.book-card-holder {
  display: flex;
  width: 90%;
  min-height: 90vh;
  flex-flow: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 15px;
  background: #372d3b;
  box-shadow: 0 0 20px 1px black;
}

.card-title {
  color: #D94362;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #ffffde;
}

.card-span {
  font-weight: bold;
}

.home-holder {
  display: flex;
  width: 90%;
  justify-items: space-around;
  justify-content: space-around;
}

.card-title {
  font-size: 25px;
  font-weight: bolder;
}

.card-button {
  background: #D94362;
  border: none;
  color: #ffffde;
}



.twitter-holder {
  display: flex;
  flex-direction: column;
}

.admin-only {
  color: red;
}

a{
  text-decoration: none;
  color: #ffffde
}

.article-image{
  height: 200px;
}

h1,h2,h3,h4 {
  color: #D94362;
}

.main-text-holder {
  display: flex;
  width: 70%;
  justify-content: center;
  align-content: center;
}

.news-letter-home-page {
  display: flex;
  justify-content: center;
  background-color: #372d3b;
  color: #ffffde;
  padding-top: 15px;
  width: 100%;
  height: 300px;
  z-index: 4;
}

.news-home-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border: solid 0.5px #ffffde;
}

.news-letter-button {
  color: #ffffde;
  background: none;
  border-color: #ffffde;
}

.footer{
  position: relative;
  z-index: 10;
  width: 100%;
  bottom: 0;
  height: 300px;
  display: flex;
  background-color: #372d3b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-space-maker {
  position: relative;
  z-index: 0;
  height: 25vh;
  background-color: #c4415D;
}

/* SECOND PARALAX CRAP */


.purple-soil {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 74%;
}

.pink-soil {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 65%;
}

/* THIRD PARALAX CRAP */

.bottom-temp{
  height: 95vh;
}

/* 318 */

.pink-cave-roof {
  position: absolute;
  width: 100%;
  top: 333%;
  z-index: 7;
}

.purple-cave-roof {
  position: absolute;
  width: 100%;
  top: 335%;
  z-index:6;
}

/*  323 */

.purple-cave-roof-trees {
  position: absolute;
  width: 100%;
  top: 338%;
  z-index: 5;
}

.purple-cave-close{
  position: absolute;
  top: 338%;
  z-index: 4;
  width: 97%;
}

.dark-purple-trees{
  position: absolute;
  top: 381%;
  z-index: 3;
  width: 100%;
}

.pink-trees{
  position: absolute;
  width: 100%;
  top: 376%;
  z-index: 3;
}

.rays {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.yellow-ray {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.bottom-cave {
  position: absolute;
  top: 335%;
  z-index: 2;
}

.off-color-title {
  color: #ffffde;
}

.insta-holder {
  background: #372d3b;
  display: flex;
  justify-content: center;
}

.newsletter-holder {
  padding-top: 125px;
  height: 604px;
}

.register-holder {
  padding-top: 100px;
}


.footer {
  display: flex;
  flex-direction: column;
}

.footer-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links{
  display: flex;
  width: 25%;
  justify-content: space-between
}

.social-holder {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-height: 70vh;
}

.social-title {
  padding-top:50px;
  padding-bottom: 50px;
}

.register-buttons{
  display: flex;
  justify-content: space-between;
}


.admin-panel {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.login-button{
  background: #D94362;
  border: none;
  color: #ffffde;
}

